body{
  font-family: sans-serif;
}
.nav-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px; */

}
.nav-ul{
  display:  flex;
  gap: 20px;
  list-style-type: none;
}
.Ncimg{
  height: 40px;
  width: 50px;
}
.nav-btn{
   padding: 9px 22px 9px;
  margin: 0 20px;
  cursor: pointer;
}
.img-f{
  height: 20px;
  width: 20px;
  margin: 5px;
}
.hero{
  display:  flex;

}
.right{
  margin: auto;
  margin-top: 50px;

}
.left{
  margin: auto;
  margin-top: 50px;
}
.s-img{
  height: 40vh;
  width: auto;

}
.h-bnt{
  background-color: black;
  color: white;
}
.h-btn{
  background-color: black;
  color: white;
  padding: 4px 10px 4px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}








